.div-arrangements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#my-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}
.my-form-popup{
    position: absolute;
    left: 35%;
    top: 15%;
}
.form-container {
    max-width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    -webkit-box-shadow: -1px -1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px -1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px -1px 10px 0px rgba(50, 50, 50, 0.75);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}


.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/*CSS for Announcement profile pic*/
.my-user-profile-class{
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 30px;

}



/*CSS for pop up button */
.my-pop-up-button{
    position: fixed;
    left: 93%;
    bottom:-30%;
    background-color: #10181d;
    z-index: 1;
    width:60px;
    height:60px;
    line-height:30px;
    text-align:center;
    color:#FFEA53;
    margin:200px auto;
    border-radius:45px;
    border:1px solid #FFEA53;
    cursor:pointer;
    font-weight:bold;
}
.my-pop-up-button:hover{
    background:#0175c2;
    color:white;
}

